/* ---------------------------------------------------------------- */
/*  Orginal:                    https://highvaluedaygame.com        */
/*------------------------------------------------------------------*/
/*  Slightly modified by:       Tsan Aung                           */
/*  Tested on:                  Firefox v80, KDE Neon 5.19          */
/* ---------------------------------------------------------------- */

@-moz-document url(about:blank), url(about:home), url(about:newtab) {

body {                                             /* Window background colour*/
background-color: rgb(32,32,32) !important;
}

.search-wrapper .logo-and-wordmark .wordmark {     /* "Firefox" text */
fill: rgb(200,200,200) !important;
}

#newtab-search-text {                              /* Search box */
background-color: rgb(52,52,52) !important; 
color: rgb(200,200,200) !important;
}

#newtab-search-text:focus { 
border: 1px solid rgb(48,48,48) !important; 
box-shadow: 0px 0px 0px 2px rgba(48,48,48,1)  !important;
}

.contentSearchHeader {                             /* "DuckDuckGo" and "Change Search Settings" text */
background-color: rgb(52,52,52) !important;
color: rgb(200,200,200) !important;
border-color: rgb(132,132,132) !important;
}

.contentSearchHeader:hover {                       /* "DuckDuckGo" and "Change Search Settings" text, HOVER */
background-color: rgb(132,132,132) !important;
color: rgb(0,0,0) !important;
border-color: rgb(132,132,132) !important;
}

.contentSearchSuggestionEntry {                    /* Search results */
color: rgb(200,200,200) !important;
background-color: rgb(52,52,52) !important;
}

.contentSearchSuggestionEntry:hover {              /* Search results, HOVER */
background-color: rgb(132,132,132) !important;
color: rgb(0,0,0) !important;
}

.icon {
display: none !important;
}

}
