/* ---------------------------------------------------------------- */
/*  Orginal:                    https://highvaluedaygame.com        */
/*------------------------------------------------------------------*/
/*  Slightly modified by:       Tsan Aung                           */
/*  Tested on:                  Firefox v80, KDE Neon 5.19          */
/* ---------------------------------------------------------------- */

@-moz-document url(chrome://browser/content/browser.xul)
#nav-bar {-moz-box-ordinal-group: 1 !important;}
#PersonalToolbar {-moz-box-ordinal-group: 2 !important;}
#titlebar {-moz-box-ordinal-group: 3 !important;}

#urlbar-container {
-moz-box-pack: center !important;
padding-right: 75px !important;
padding-left: 0px !important;   /* <<=== Add 29px per each button between URL bar and Menu */
margin-top: -4px; /*FidedByTsan*/
}

#stop-reload-button .toolbarbutton-icon{
border-radius: 4px !important;
padding: -2px !important;
}
#stop-reload-button{
transform: translateX(20px);  /* <<=== Assign position of the reload button along the nav bar */
border-radius:0px !important;
margin-right: 0px !important;
}

#main-window {
min-width: 900px !important;  /* <<=== Assign min width of window (!! may affect fingerprinting resistance) */
*min-height: 900px !important;  /* <<=== Assign min height of window (!! may affect fingerprinting resistance) */
}

#nav-bar .toolbarbutton-1:not(:-moz-any([type="menu-button"], 
#nav-bar-overflow-button)) {
filter: grayscale(100%) !important; /* <<=== comment to display original colour of the buttons in the NAV BAR */
}

.widget-overflow-list .toolbarbutton-icon {
filter: grayscale(100%) !important; /* <<=== comment to display original colour of the buttons in the OVERFLOW MENU */
}

#navigator-toolbox > toolbar:not(#TabsToolbar):not(#toolbar-menubar):not(#PersonalToolbar), 
.browserContainer > findbar, #browser-bottombox {
background-color: rgb(60,60,60) !important;                    /* ==================================== DARK MODE */
}

#nav-bar-customization-target {
-moz-box-pack: center !important;
}

#nav-bar {
-moz-box-ordinal-group: 1 !important;
padding-left: 75px !important;                                 /* leave space for the RED AMBER GREEN buttons */
}

#nav-bar-customization-target {
margin: 4.5px 0px !important;                                  /* vertical position of everything except hamburger menu */
}

#PanelUI-menu-button {
margin: 4.5px 0px !important;                                  /* vertical position of hamburger menu */
margin-left: -3px !important;                                  /* ==================================== v3.0.10 */
}

#nav-bar {
min-height: 37px !important;                                   /* height of the section */
max-height: 37px !important;
}

#nav-bar .toolbarbutton-1:not(:-moz-any([type="menu-button"], 
#nav-bar-overflow-button)) {
max-height: 29px !important;                                   /* height of the buttons */
}

#nav-bar-overflow-button {
margin: 4.5px 0px !important;                                  /* ==================================== v3.0.10 */
}

#urlbar {
margin-bottom: -1px !important;
margin-top: -1px !important;
}

#urlbar {                                                      /* status = DEFAULT */
box-shadow: 0 0 3px transparent !important;
border: 1px solid rgb(48,48,48) !important;                    /* ==================================== DARK MODE */
background: rgb(144,144,144) !important;                       /* ==================================== DARK MODE */
min-width: 300px !important;                                   /* side position */
max-width: 500px !important;                                   /* side position */
border-radius: 5px !important;                     
}

#urlbar {                                                      /* style of text within */
font-size: 12px !important;
color: rgb(0,0,0) !important;
}

#urlbar[focused] {                                             /* status = ACTIVE */
box-shadow: 0 0 3px transparent !important;
border: 2.5px solid rgb(32,32,32) !important;                  /* ==================================== DARK MODE */
border-radius: 6px !important;                     
}

#identity-box {
transform: scale(0.8, 0.8) !important;                         /* size of lock symbol on the left */
margin-inline-start: -2px;                                     /* ==================================== v3.0.10 */
}

#identity-box:hover:not(.no-hover):not([open="true"]),         /* ==================================== v3.0.10 */
#tracking-protection-icon-container:hover:not([open="true"]) {
background-color: rgb(144,144,144) !important;                 /* ==================================== DARK MODE */
color: rgb(0,0,0) !important;                                  /* ==================================== DARK MODE */
}

#tracking-protection-icon-container {
transform: scale(0.9, 0.9) !important;
filter: grayscale(100%) !important;
}

#urlbar-input{                                                 /* center URL bar text */
text-align: center !important;
}

:not(.urlbar-icon-wrapper) >                                   /* history dropmaker */
.urlbar-icon:not([disabled]):hover, 
.urlbar-icon-wrapper:not([disabled]):hover {
background-color: rgb(154,154,154) !important;                 /* ==================================== DARK MODE */ /* ========= v3.0.10 */
color: rgb(0,0,0) !important;                                  /* ==================================== v3.0.10 */
}

#PlacesToolbar {
-moz-box-ordinal-group: 2 !important;                          /* align with URL bar */
padding-left: 52.5px !important;
padding-right: 0px !important;
}

#PersonalToolbar {
height: 26px !important;
background: rgb(60,60,60) !important;                          /* ==================================== DARK MODE */
border-top: 1px solid rgb(96,96,96) !important;                /* border */
border-bottom: 1px solid rgb(96,96,96) !important;             /* border */
magin-left: -2px !important;
magin-right: -2px !important;
padding: 2.5px 0px 2.5px 0px !important;                       /* space ABOVE RIGHT BELOW LEFT */
}

.bookmark-item>.toolbarbutton-icon {
display: none !important;                                      /* hide icons */
}

#PlacesToolbarItems {                                          /* status = DEFAULT */
-moz-box-pack: center;
background: rgb(60,60,60) !important;                          /* ==================================== DARK MODE */
color: rgb(168,168,168) !important;                            /* ==================================== DARK MODE */
font-size: 11px !important;
}

toolbarbutton.bookmark-item {
background-color: rgb(60,60,60) !important;                    /* ==================================== DARK MODE */
border-radius: 4px !important;
color: rgb(168,168,168) !important;
border: 0.5px solid rgb(60,60,60) !important;                  /* ==================================== DARK MODE */
}

toolbarbutton.bookmark-item:hover {                            /* status = HOVER */
background-color: rgb(136,136,136) !important;                 /* ==================================== DARK MODE */
border-radius: 4px !important;                                 /* radius */
color: rgb(0,0,0) !important;                                  /* ==================================== DARK MODE */
border: 0.5px solid rgb(32,32,32) !important;                  /* ==================================== DARK MODE */
}

#personal-bookmarks toolbarbutton {                            /* space items within the bar*/
margin-left: 1.5px !important;
margin-right: 1.5px !important;
}

#PlacesToolbarItems > .bookmark-item[container]:after {        /* space right of the text */
content:'>';
font-weight: 550;
margin-left: 6px;
margin-right: -2px;
display: block;
transform: rotate(90deg) scale(0.7, 1.3);
color: rgb(168,168,168);                                        /* ==================================== DARK MODE */
}

toolbarbutton.bookmark-item[dragover][open] {                  /* ==================================== DARK MODE */
background-color: rgb(136,136,136) !important;                 /* Toolbar, bg colour of bookmark folders */
border: 0.5px solid rgb(32,32,32) !important;
color: rgb(0,0,0) !important;                                  /* Toolbar, text colour of bookmark folders */
}

menupopup menu {
background: 0 !important;                                      /* Pop-up menu, dragging folder into folder */
}

#PlacesToolbarDropIndicator {                                  /* Bookmarks bar, vertical line between items */
filter: grayscale(100%) !important;
}

image[part="drop-indicator"] {
 filter: grayscale(100%) !important;                           /* Pop-up menu, horizontal line */
}

#TabsToolbar {                                                 /* height */
height: 25px !important;
}

#titlebar {
height: 25px !important;
}

#new-tab-button {
max-height: 25px !important;
}

#tabs-newtab-button {
max-height: 25px !important;
}

#TabsToolbar, .tabbrowser-tab {
max-height: 25px !important;
}

.scrollbutton-up, .scrollbutton-down {
display: none !important;
}

.scrollbutton-up, .scrollbutton-down {
max-height: 25px !important;
}

.scrollbutton-up[orient="horizontal"] ~ spacer {
margin-bottom: 10px !important;
}

.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
display: none !important;                                      /* hide lateral blank spaces top left and top right of all tabs*/
}

#TabsToolbar-customization-target {
background-color: transparent !important;                      /* default background colour */
}

.tabbrowser-tab:not([pinned="true"]) {                         /* min width of tabs */
min-width:160px !important;
}

.tab-background[selected="true"] {                             /* ACTIVE tabs, background colour */
background-attachment: none !important;
background-color: rgb(60,60,60) !important;
background-image: none !important;                             /* ==================================== DARK MODE */
}

#TabsToolbar .tabbrowser-tab[selected] {                       /* ACTIVE tabs, text colour */
color: rgb(168,168,168) !important;                            /* ==================================== DARK MODE */
}

#tabbrowser-tabs {
--tab-line-color: transparent !important;                      /* ACTIVE tab, make top border transparent*/
}

.tab-background[selected="true"] {
border-radius: 0px 0px 0px 0px !important;                     /* ACTIVE TAB, radius TOP TOP BOTTOM BOTTOM */
}

.tabbrowser-tab:not([selected]) .tab-background {
background-color: rgb(32,32,32) !important;                    /* ==================================== DARK MODE */
}

#TabsToolbar {                                                 /* INACTIVE tabs, text colour */
color: rgb(220,220,220) !important;                            /* ==================================== DARK MODE */  
}

.tabbrowser-tab:not([selected])::after {                       /* INACTIVE tabs, lateral border */
color: rgb(60,60,60) !important;                               /* ==================================== DARK MODE */
}

.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]):not([multiselected]) {
background-color: rgb(0,0,0) !important;                       /* ==================================== DARK MODE */
margin-top: -5px !important;                                   /* INACTIVE tabs, hover, do not show upper margin */
}

.tab-throbber {
display: none !important; 
}

.tabbrowser-tab[fadein] {
max-width: 100vw !important;                                   /* TABS, max width */
}

.tab-label {
-moz-box-flex: 1 !important;
text-align: center !important;                                 /* TABS, show text in the middle of them */
}

.tab-label-container[textoverflow][labeldirection="ltr"]:not([pinned]) {
mask-image: none !important;                                   /* TABS, remove fade-out effect right end side */
}

.tab-loading-burst {                                           /* TABS, remove swipe animation after page has loaded */
display: none !important;
}

#TabsToolbar {
background-color: rgb(60,60,60) !important;                    /* ==================================== DARK MODE */
border: none !important;                                       /* ==================================== DARK MODE */
-moz-appearance: none !important;
}

#titlebar {
margin-bottom: -1px !important;
}

.tab-icon-image {
display: none !important;                                      /* TABS, hide icons */
}

.tabbrowser-tab .tab-close-button {                            /* TAB CLOSE, move to left & show backbround only on hover */
display:-moz-box! important;
-moz-box-ordinal-group:0!important;
* margin-right:3px!important;
-moz-margin-start:-8.5px !important;
-moz-margin-end:0px !important;
transform: scale(0.85, 0.85) !important;                       /* size */
}

.tabbrowser-tab:not(:hover) .tab-close-button{                 /* TAB CLOSE, X, hide when not hover */
opacity: 0;
}
.tabbrowser-tab .tab-close-button{                             /* X sign in selected tab */
color: rgb(192,192,192) !important;
}

.tabbrowser-tab:not([selected]) .tab-close-button{             /* X sign in not-selected tab */
color: rgb(192,192,192) !important;
}

.tabbrowser-tab .tab-close-button:hover {                      /* X background square in selected tab */
background-color: rgb(24,24,24) !important;
color: rgb(192,192,192) !important;
border-radius: 2px !important;
}

.tabbrowser-tab:not([selected]) .tab-close-button:hover {      /* X background square in not-selected tab */
background-color: rgb(48,48,48) !important;
color: rgb(192,192,192) !important;
border-radius: 2px !important;
}

.tabbrowser-tab .tab-icon-sound {                              /* SOUND ICON, move to the right to perfectly centre TAB text */
display:-moz-box! important;
-moz-box-ordinal-group:1!important;
* margin-left:3px!important;
-moz-margin-start:2px !important;
-moz-margin-end:-6.5px !important;
transform: scale(0.85, 0.85) !important;                       /* size */
}

.tab-icon-sound[soundplaying] {
color: rgb(169,169,169) !important;                            /* ==================================== DARK MODE */
transform: scale(0.85, 0.85) !important;                       /* size */
}

#alltabs-button {                                              /* Hide drop down icon */
display: none;
}

.scrollbutton-up[orient="horizontal"] ~ spacer {               /* Hide scroll buttons down icon */
display: none !important;
}

#tabs-newtab-button {                                          /* NEW TAB, + icon, dimensions - normal */
transform: scale(0.8, 1.0) !important;
margin-left: -6px !important;
margin-right: -3px !important;
padding: 0px 0px 0px 3px !important;
fill: rgb(144,144,144) !important;                             /* ==================================== DARK MODE */
}

#new-tab-button {                                              /* NEW TAB, + icon, dimensions - many tabs */
transform: scale(0.8, 1.0) !important;
margin-left: -6px !important;
margin-right: -3px !important;
padding: 0px 0px 0px 3px !important;
fill: rgb(144,144,144) !important;                             /* ==================================== DARK MODE */
}

#tabs-newtab-button .toolbarbutton-icon {                      /* NEW TAB, background of icon - normal */
border-radius: 0px !important;
background-color: rgb(32,32,32) !important;                    /* ==================================== DARK MODE */
}
#tabs-newtab-button:hover .toolbarbutton-icon {
border-radius: 0px !important;
background-color: rgb(80,80,80) !important;                    /* ==================================== DARK MODE */
}
#tabs-newtab-button:active .toolbarbutton-icon {
border-radius: 0px !important;
background-color: rgb(64,64,64) !important;
}

#new-tab-button .toolbarbutton-icon {                          /* NEW TAB, background of icon - many tabs */
border-radius: 0px !important;
background-color: rgb(32,32,32) !important;                    /* ==================================== DARK MODE */
}
#new-tab-button:hover .toolbarbutton-icon {
border-radius: 0px !important;
background-color: rgb(80,80,80) !important;                    /* ==================================== DARK MODE */
}
#new-tab-button:active .toolbarbutton-icon {
border-radius: 0px !important;
background-color: rgb(64,64,64) !important;
}

menupopup, popup,
popup > menu > menupopup,
menupopup > menu > menupopup {                                 /* BACKGROUND */
-moz-appearance: none !important;                              /* ==================================== !!! */
background: rgb(60,60,60) !important;                          /* ==================================== DARK MODE */
border-radius: 5px !important;
padding: 0px 0px 0px 0px !important;                           /* space ABOVE RIGHT BELOW LEFT */
max-width: 400px !important;                                   /* max width of pop-up window */
}

menupopup menuseparator {                                      /* above "open all tabs" */
-moz-appearance: none !important;                              /* ==================================== !!! */
background: rgb(169,169,169) !important;                       /* ==================================== DARK MODE */
margin: 0px 0px 0px 0px !important;
padding: 0.5px !important;                                     /* height border above "open all tabs" */
}

menupopup menu, menuitem{                                      /* ITEMS, DEFAULT */
-moz-appearance: none !important;                              /* ==================================== !!! */
color: rgb(176,176,176) !important;                            /* ==================================== DARK MODE */
padding: 0px 20px 0px 15px !important;                         /* space ABOVE RIGHT BELOW LEFT */
height: 21px !important;                                       /* vertical height of each line */
font-size: 12px !important;
}

menupopup menu:hover, menuitem:hover,                          /* FOLDER ITEMS, HOVER */
menu[open="true"],                                             /* ==================================== v3.0.10 */ /* INACTIVE selected/open folders */
menuitem[_moz-menuactive="true"] {                             /* ==================================== v3.0.10 */
-moz-appearance: none !important;                              /* ==================================== !!! */
background: rgb(144,144,144) !important;                       /* ==================================== DARK MODE */
color: rgb(0,0,0) !important;                                  /* ==================================== DARK MODE */
font-size: 12px !important;
}

.menu-right {                                                  /* TRIANGLE SIGN to open sub-folders */
-moz-appearance: none !important;
padding: 8px !important;
margin-right: -10px !important;
color: black !important;
border: solid rgb(176,176,176);                                /* ==================================== DARK MODE */
border-width: 0 2.5px 2.5px 0;
transform: rotate(-45deg) scale(.4);
}

*#PlacesToolbarItems toolbarbutton[container="true"] .toolbarbutton-icon,
*:-moz-any(
*#PlacesToolbarItems,
*#PlacesChevronPopup,
*#BMB_bookmarksPopup,
*#bookmarksMenu) menu[container="true"] > .menu-iconic-left > .menu-iconic-icon,
*/* Standard folder -- in Sidebar, Library, Add/Edit Bookmark dialog */
*:-moz-any(
*#bookmarks-view, 
*#editBMPanel_folderTree, 
*#placesList, 
*#placeContent) treechildren::-moz-tree-image(container),
*#editBMPanel_folderMenuList > .menulist-label-box > .menulist-icon,
*#editBMPanel_folderMenuList menupopup menuitem {
*fill: rgb(169,169,169) !important;                            /* ==================================== DARK MODE */
*}

*.bookmark-item.menuitem-with-favicon:not([container]) {       /* ==================================== DARK MODE */
*fill: rgb(176,176,176) !important;
*}

#urlbar .urlbarView {
position: absolute !important;                                 /* Override fixed */
top: 31px !important;                                          /* distance from top of the window */
left: unset !important;                                        /* Override 0 */
right: unset !important;                                       /* Override 0 */
min-width: 500px !important;
max-width: 500px !important;
background: rgb(60,60,60) !important;                          /* ==================================== DARK MODE */
box-shadow: none !important;
border: 1px solid rgb(32,32,32) !important;                    /* ==================================== DARK MODE */
border-radius: 4px !important;                                 /* border radius */
}

#urlbar-input::-moz-selection {                                /* colour autocomplete text URL bar */
background-color: rgb(80,80,80) !important;                    /* ==================================== DARK MODE */
border: 0px !important;
opacity: 1 !important;
color: rgb(192,192,192) !important;                            /* ==================================== DARK MODE */
}

#urlbar-results {
font-size: 12px !important;
color: rgb(192,192,192) !important;                            /* ==================================== DARK MODE */
}

.urlbarView-action {
color: rgb(192,192,192) !important;                            /* ==================================== DARK MODE */
}

.urlbarView-favicon {
transform: scale(.9, .9) !important;                           /* favicons in search results */
* filter: grayscale(75%) !important;
}

.urlbarView-row {
padding: 6px 0px !important;                                   /* vertical space between lines */
}

.urlbarView-url {                                              /* drop-down results, URL color */
color: rgb(192,192,192) !important;                            /* ==================================== DARK MODE */
}

.urlbarView-row[selected], .urlbarView-row:hover {             /* drop-down results, selected/hover colors */
background-color: rgb(80,80,80) !important;                    /* ==================================== DARK MODE */
}

.urlbarView-row[selected] .urlbarView-title,
.urlbarView-row:hover .urlbarView-title,
.urlbarView-row[selected] .urlbarView-secondary,
.urlbarView-row:hover .urlbarView-secondary,
.urlbarView-row[selected] .urlbarView-title-separator,
.urlbarView-row:hover .urlbarView-title-separator {            /* drop-down results, selected URL color */
color: rgb(180,180,180) !important;                            /* ==================================== DARK MODE */
}

.urlbarView-row-inner{ 
* flex-wrap: wrap !important; 
}
.urlbarView-title[title]{
* flex-grow: 1;
}
.urlbarView-row > .urlbarView-row-inner > .urlbarView-url{
* margin-inline-start: 24px; min-width: 95%
}
.urlbarView-row[has-url]:not([type="switchtab"]) .urlbarView-title-separator{
* display: none
}

.titlebar-buttonbox-container {
position: fixed !important;
display: block !important;
top: 11px !important;                                          /* ==================================== v3.1.1 */
left 2px !important;
}

#PanelUI-button,
#PanelUI-menu-button {
border:none !important;
padding-left:0px !important;
margin-inline-end:1.4px !important;
}

.toolbarbutton-1 {
--toolbarbutton-hover-background: none !important;             /* over-write default HOVER colour*/
transform: scale(0.825, 0.825) !important;                     /* size */
}

#nav-bar .toolbarbutton-1 {
fill: rgb(24,24,24) !important;                                /* ==================================== DARK MODE */
}

#nav-bar .toolbarbutton-1:not(:-moz-any([type="menu-button"])){/* ==================================== v3.0.10 */
background: rgb(128,128,128) !important;                       /* ==================================== DARK MODE */
border: 0.75px solid rgb(48,48,48) !important;                 /* ==================================== DARK MODE */ /* ====== v3.0.10 */
border-radius: 4.5px !important;                               /* ==================================== v3.0.10 */
padding: unset !important;
}

#nav-bar #back-button {
width: 30px !important;
max-height: 30px !important;
height: 30px !important;
padding: 0px !important;
-moz-image-region: unset !important;
}

*#nav-bar #back-button:hover .toolbarbutton-icon {
* border-radius: 4px !important;
* background-color: rgb(192,192,192) !important;
}

#nav-bar #forward-button {
width: 29px !important;                                        /* width consistent with button height set in NAV BAR */
padding: 0px !important;
-moz-box-align: center !important;
-moz-image-region: unset !important;
}

#nav-bar #forward-button:hover .toolbarbutton-icon {
border-radius: 4px !important;
* background-color: rgb(211,211,211) !important;
}

#nav-bar #back-button > .toolbarbutton-icon,
#nav-bar #forward-button > .toolbarbutton-icon
{
background: none !important;
border: none !important;
box-shadow: none !important;
padding: unset !important;
}

#back-button[disabled="true"] > .toolbarbutton-icon {
opacity: 1 !important;
-moz-context-properties: none !important;
fill-opacity: unset !important;
}

#back-button[disabled="true"] {
opacity: 0.4 !important;
-moz-context-properties: none !important;
fill-opacity: unset !important;
}

#nav-bar #back-button {
list-style-image: url('data:image/svg+xml;utf8,\ <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18">\ <path d="M12,5 L8.5,9 L12,13" fill="transparent" stroke="rgb(0,0,0)" stroke-width="1.2" stroke-linecap="round"/>\ </svg>') !important;
}

#nav-bar #forward-button {
list-style-image: url('data:image/svg+xml;utf8,\ <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18">\ <path d="M7,5 L11,9 L7,13" fill="transparent" stroke="rgb(0,0,0)" stroke-width="1.4" stroke-linecap="round"/>\ </svg>') !important;
}

#forward-button .toolbarbutton-icon {
margin-left: 1px !important;
}

#forward-button {
margin-left: -4px !important;
}

#back-button .toolbarbutton-icon {
margin-left: -5px !important;
}

:root {
--arrowpanel-border-color: none !important;                    /* external border */
--arrowpanel-background: rgb(52,52,52) !important;             /* background colour */ /* ==================================== v3.0.10 */
--arrowpanel-color: rgb(184,184,184) !important;               /* text colour */
--panel-disabled-color: rgb(144,144,144) !important;           /* text colour, inactive items */
--panelui-subview-transition-duration: 1ms !important;         /* ==================================== v3.0.10 */
}

panelview .toolbarbutton-1:not(:-moz-any([disabled], [open], :active)):-moz-any(:hover, :focus), toolbarbutton.subviewbutton:not(:-moz-any([disabled], [open], :active)):-moz-any(:hover, :focus), .navigable.subviewbutton:not(:-moz-any([disabled], [open], :active)):-moz-any(:hover, :focus), menu.subviewbutton:not(:-moz-any([disabled], :active))[_moz-menuactive], menuitem.subviewbutton:not(:-moz-any([disabled], :active))[_moz-menuactive], .widget-overflow-list .toolbarbutton-1:not(:-moz-any([disabled], [open], :active)):-moz-any(:hover, :focus), .toolbaritem-combined-buttons:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not(:-moz-any([disabled], [open], :active)):-moz-any(:hover, :focus) {
    color: rgb(0,0,0) !important;                              /* ==================================== DARK MODE */ /* ========= v3.0.10 */
    background-color: rgb(144,144,144) !important;             /* HOVER colour of items and buttons in panels */
}

#editBookmarkPanelInfoArea {                                   /* remove top area with image */
display: none !important;
}

#editBookmarkPanelDoneButton{                                  /* button DONE */
background-color: rgb(48,48,48) !important;
color: rgb(188,188,188) !important;
}
#editBookmarkPanelDoneButton:hover {
background-color: rgb(56,56,56) !important;
color: rgb(188,188,188) !important;
}
#editBookmarkPanelDoneButton:active {
background-color: rgb(40,40,40) !important;
color: rgb(188,188,188) !important;
}

#editBookmarkPanelRemoveButton {                               /* button REMOVE */
background-color: rgb(80,80,80) !important;
}
#editBookmarkPanelRemoveButton:hover {
background-color: rgb(96,96,96) !important;
}
#editBookmarkPanelRemoveButton:active {
background-color: rgb(88,88,88) !important;
}

*#editBookmarkPanelRows {                                      /* entire section between header and buttons */
*color: rgb(0,0,0) !important;
*background-color: rgb(60,60,60) !important;
*}

#editBMPanel_namePicker {                                      /* input fields */
color: rgb(0,0,0) !important;
background-color: rgb(144,144,144) !important;
border: 0.75px solid rgb(32,32,32) !important;
}
#editBMPanel_folderMenuList {
color: rgb(0,0,0) !important;
background-color: rgb(144,144,144) !important;
border: 0.75px solid rgb(32,32,32) !important;
}
#editBMPanel_tagsField {
color: rgb(0,0,0) !important;
background-color: rgb(144,144,144) !important;
border: 0.75px solid rgb(32,32,32) !important;
}

#editBMPanel_foldersExpander {                                 /* side drop down */
color: rgb(0,0,0) !important;
background-color: rgb(144,144,144) !important;
border: 0.75px solid rgb(32,32,32) !important;
}
#editBMPanel_tagselectorExpander {
color: rgb(0,0,0) !important;
background-color: rgb(144,144,144) !important;
border: 0.75px solid rgb(32,32,32) !important;
}

.appMenu-tp-separator,                                         /* HORIZONTAL BORDERS */
toolbarseparator {
display: visible !important;
border-color: rgb(128,128,128) !important;
}

#appMenu-zoomReset-button {                                    /* ZOOM CONTROl xx% */
background: transparent !important;
color: rgb(169,169,169) !important;
border: 0px solid rgb(169,169,169) !important;
border-radius: 0px !important;
}

.panel-header {                                                /* TOP HEADER */
color: rgb(192,192,192) !important;
background: rgb(48,48,48) !important;
border-bottom: 1px solid rgb(128,128,128) !important;
}

#overflowMenu-customize-button {                                /* Bottom area "Customise Toolbar..." */
font-weight: 550 !important;
color: rgb(184,184,184) !important;                             /* ==================================== DARK MODE */
background-color: rgb(52,52,52) !important;                     /* ==================================== DARK MODE */
}

#overflowMenu-customize-button:hover {                          /* Bottom area "Customise Toolbar..." HOVER */ /* ==================================== DARK MODE */
font-weight: 550 !important;
color: rgb(0,0,0) !important;                                   /* ==================================== DARK MODE */
background-color: rgb(144,144,144) !important;                  /* ==================================== DARK MODE */
}

#widget-overflow-mainView {                                     /* Elements in Overflow Menu */
color: rgb(184,184,184) !important;                             /* ==================================== DARK MODE */
background-color: rgb(52,52,52) !important;                     /* ==================================== DARK MODE */
}

.widget-overflow-list .toolbarbutton-1 {                        /* Overwrite previous "scale" command for toolbarbutton-1 */
transform: scale(1, 1) !important;
}

.widget-overflow-list .toolbarbutton-1  > .toolbarbutton-text {
-moz-box-align: center !important;
padding-top: 4px !important;
padding-bottom: 4px !important;
}

.widget-overflow-list .toolbarbutton-icon {                    /* Icons, colour */
fill: rgb(184,184,184) !important;                             /* ==================================== DARK MODE */
}

.widget-overflow-list:hover .toolbarbutton-icon {              /* Icons, HOVER colour */
fill: rgb(32,32,32) !important;                                /* ==================================== DARK MODE */
}

#contentAreaContextMenu>*>*>image {                            /* Assign colour to icon on the right-hand side */
fill: currentColor !important;
-moz-context-properties: fill, fill-opacity, stroke !important;
}

#context-navigation, #context-sep-navigation { 
display: none !important 
}

#confirmation-hint {
display: none !important;                                      /* hide "Saved to Library!" bookmark confirmation popup */
}

#appMenu-library-recentHighlights {
display: none !important;
}

#urlbar-zoom-button {                                          /* ==================================== v3.0.10 */
display:none!important                                         /* remove ZOOM info from URL bar */
}

#pageAction-panel-default-bookmark-folder_gustiaux_com,        /* ==================================== v3.0.10 */
#pageAction-panel-builtInSeparator {                           /* remove DEFAULT BOOKMARK FOLDER add-on line from Page Actions */
display:none!important 
}

#userContext-indicator {                                       /* ==================================== v3.0.10 */
fill: rgb(56,56,56) !important;                                /* URL BAR, change colour of the fence */ /* ==================================== DARK MODE */
}

#userContext-label {                                           /* ==================================== v3.0.10 */
display:none!important                                         /* URL BAR, removel text label */
}

#pageActionSeparator {                                         /* ==================================== v3.0.10 */
display:none!important                                         /* URL BAR, remove vertical separator */
}

.tabbrowser-tab[usercontextid] > .tab-stack >                  /* ==================================== v3.0.10 */
.tab-background > .tab-bottom-line {
height: 0 !important;                                          /* TAB, remove lower line */
}
